* {
    margin: 0;
    padding: 0;
    text-decoration: none
}

#cssmenu {
    width: 100%;
    position: fixed;
    z-index: 999;
}

.mobile {
    background: #150035;
    box-shadow: 0 0px 5px 0px rgba(0, 0, 0, .3);
    transition: all ease .9s;
}
nav {
    position: relative;
    width: 980px;
    margin: 0 auto;
}

#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #head-mobile {
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#cssmenu:after,
#cssmenu>ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#cssmenu #head-mobile {
    display: none;
}

#cssmenu {
    font-family: sans-serif;
}

#cssmenu>ul {
    margin: 0;
    background: #fff;
}

#cssmenu>ul>li {
    float: left;
}

#cssmenu>ul>li>a {
    text-transform: uppercase;
    padding: 17px;
    font-size: 12px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    border-right: 1px solid #e0e0e0;
}
#cssmenu .login a {
    position: relative;
    display: inline-block;
    font-size: 24px;
    vertical-align: top;
    text-align: center;
	letter-spacing: 1px;
    line-height: 24px;
    color: #fefefe;
    font-weight: 400;
    font-family: "Anton";
    padding: 13px 15px;
	text-transform: capitalize;
    	-webkit-transition: all 0.9s ease 0;
    -moz-transition: all 0.5s ease 0;
    -ms-transition: all 0.5s ease 0;
    -o-transition: all 0.5s ease 0;
    transition: all 0.5s ease 0;
     box-shadow: 0 5px 35px 0px rgba(0, 0, 0, .2);
	text-shadow: 5px 3px 0px #efa500;
	background-image:
    radial-gradient(
      #f7ad05,
      #f7ab00
    );
	 filter: drop-shadow(0 0px 10px rgba(254, 215, 125, 0.2));
}
#cssmenu>ul>li:hover>a,
#cssmenu ul li.active a {
    color: #fafafa;
}
.mobile .dropdown-menu > li > a {
    font-size: 14px;
    position: relative;
    text-transform: uppercase;
    line-height: 24px;
    font-weight: 400;
    font-family: "Nunito";
    color: #ffff !important;
}
#cssmenu ul li.active a {
    border: none;
}

#cssmenu>ul>li.has-sub>a {
    padding-right: 30px;
}

#cssmenu>ul>li.has-sub>a:after {
    position: absolute;
    top: 22px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #ddd;
    content: '';
}

#cssmenu>ul>li.has-sub>a:before {
    position: absolute;
    top: 19px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #ddd;
    content: '';
    -webkit-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
}

#cssmenu>ul>li.has-sub:hover>a:before {
    top: 23px;
    height: 0;
}

#cssmenu ul ul {
    position: absolute;
    left: -9999px;
}

#cssmenu ul ul li {
    height: 0;
    -webkit-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
}

#cssmenu li:hover>ul {
    left: auto;
}

#cssmenu li:hover>ul>li {
    height: 35px
}

#cssmenu ul ul ul {
    margin-left: 100%;
    top: 0;
}

#cssmenu ul ul li a {
    border-bottom: 1px solid rgba(150, 150, 150, 0.15);
    padding: 11px 15px;
    width: 170px;
    font-size: 14px;
    text-decoration: none;
    color: #ddd;
    font-weight: 400;
}

#cssmenu ul ul li:last-child>a,
#cssmenu ul ul li.last-item>a {
    border-bottom: 0
}

#cssmenu ul ul li:hover>a,
#cssmenu ul ul li a:hover {
    color: #fafafa;
}

#cssmenu ul ul li.has-sub>a:after {
    position: absolute;
    top: 16px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #ddd;
    content: ''
}

#cssmenu ul ul li.has-sub>a:before {
    position: absolute;
    top: 13px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #ddd;
    content: '';
    -webkit-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease
}

#cssmenu ul ul>li.has-sub:hover>a:before {
    top: 17px;
    height: 0
}
#cssmenu ul ul ul li.active a {
    border-left: 1px solid #333
}

#cssmenu>ul>li.has-sub>ul>li.active>a,
#cssmenu>ul ul>li.has-sub>ul>li.active>a {
    border-top: 1px solid #333
}

@media screen and (max-width:1000px) {
    .logo {
        position: absolute;
        top: -2px;
        left: 15px;
        width: 100%;
        padding: 10px 0 0 0;
        float: none
    }
   .logo img{
        height: 30px;
        margin-top: 10px;
    }
    nav {
        width: 100%;
    }
    #cssmenu {
        width: 100%
    }
    #cssmenu ul {
        width: 100%;
        display: none;
        background: #150035;
    }
    #cssmenu ul li {
        width: 100%;
        border-top: 1px solid #3e1f70;
    }
    #cssmenu ul ul li,
    #cssmenu li:hover>ul>li {
        height: auto
    }
    #cssmenu ul li a,
    #cssmenu ul ul li a {
        width: 100%;
        border-bottom: 0
    }
    #cssmenu>ul>li {
        float: none
    }
    #cssmenu ul ul li a {
        padding-left: 25px
    }
    #cssmenu ul ul li:hover {
        background: #3e1f70!important
    }
    #cssmenu ul ul ul li a {
        padding-left: 35px
    }

    #cssmenu ul ul li:hover>a,
    #cssmenu ul ul li.active>a {
        color: #fafafa;
    }
    #cssmenu ul ul,
    #cssmenu ul ul ul {
        position: relative;
        left: 0;
        width: 100%;
        margin: 0;
        text-align: left;
        top: 0;
    }
    #cssmenu>ul>li.has-sub>a:after,
    #cssmenu>ul>li.has-sub>a:before,
    #cssmenu ul ul>li.has-sub>a:after,
    #cssmenu ul ul>li.has-sub>a:before {
        display: none
    }
   #cssmenu ul li a {
       font-size: 16px;
       text-align: center;
   font-family: 'Nunito', sans-serif;
}
    #cssmenu #head-mobile {
        display: block;
        padding: 32px;
        color: #ddd;
        font-size: 12px;
        font-weight: 700;
    }
    .button {
            position: absolute;
    right: 15px;
    top: 11px;
    cursor: pointer;
    color: #fff;
    border-radius: 100%;
    padding: 8px 11px;
    border: 1px solid #fff;
    z-index: 12399994;
    width: 40px;
    height: 40px;
    }


    .button.menu-opened:after {
        -webkit-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease;
        top: 23px;
        border: 0;
        height: 2px;
        width: 19px;
        background: #fafafa;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .button.menu-opened:before {
        top: 23px;
        background: #fafafa;
        width: 19px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    #cssmenu .submenu-button {
        position: absolute;
        z-index: 99;
        right: 0;
        top: 0;
        display: block;
        border-left: 1px solid #3e1f70;
        height: 43px;
        width: 50px;
        cursor: pointer;
    }
    #cssmenu .submenu-button.submenu-opened {
        background: #3e1f70;
    }
    #cssmenu ul ul .submenu-button {
        height: 34px;
        width: 34px;
    }
    #cssmenu .submenu-button:after {
        position: absolute;
        top: 22px;
        right: 19px;
        width: 8px;
        height: 2px;
        display: block;
        background: #ddd;
        content: '';
    }
    #cssmenu ul ul .submenu-button:after {
        top: 15px;
        right: 13px;
    }
    #cssmenu .submenu-button.submenu-opened:after {
        background: #fafafa
    }
    #cssmenu .submenu-button:before {
        position: absolute;
        top: 19px;
        right: 22px;
        display: block;
        width: 2px;
        height: 8px;
        background: #ddd;
        content: '';
    }
    #cssmenu ul ul .submenu-button:before {
        top: 12px;
        right: 16px;
    }
    #cssmenu .submenu-button.submenu-opened:before {
        display: none;
    }
    #cssmenu ul ul ul li.active a {
        border-left: none;
    }
    #cssmenu>ul>li.has-sub>ul>li.active>a,
    #cssmenu>ul ul>li.has-sub>ul>li.active>a {
        border-top: none;
    }
}